.SignIn{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    row-gap: 6px;
    align-items: center;
    margin-left: 80vh;
    margin-right: 80vh;
    margin-top: 10%;
    padding: 10px 10px;

    input{
        height: 30px;
        width: 30vh;
    }
    button{
        color:black;
        border-radius: 2px;
        background-color:#9c9c9f;
        width: 70px;
        height: 30px;
        cursor: pointer;
        border-radius: 5px;
        transition: all .3s ease;
      }
      button:hover{
        background-color: rgb(212, 217, 222);
      }

}